# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# Compilation artifacts
*.dvi
*.ps
*.pdf

# Editors and OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Latexmk
latexmkrc
*.lwr

*.run.xml
*.bcf

*(busy)